.profile_img{
    text-align: center;
    img{
        border-bottom-right-radius: 20% !important;
        width: 60%;
        height: 215px;
        border-radius: 0px;
        box-shadow: 6px 6px 5px 2px #8b8b8b;
    }
    div{
        margin-bottom:5px;
    }
}