  <div class="ion-padding">
      <div class="profile_img">
        <div>
        <img *ngIf="isUploaded" src="{{data?.profile_photo?.url}}">
        <img *ngIf="!isUploaded" src="{{image}}">
        </div>
        <ion-button size="small" (click)="chooseImgae()"> {{'LABELS.UPLOAD_PHOTO' |translate}} </ion-button>
        </div>
    <ion-item> 
        <ion-label position="floating" > {{'LABELS.NAME' |translate}}
          <span class="required-field"> * </span>
        </ion-label>
      <ion-input type="text" [(ngModel)]="data.name"  name="name" (ionChange)="validate(data.name,'name')">
      </ion-input>
      </ion-item>  
      <ng-container>
        <span class="required-field"
          *ngIf="!data.name">
          {{'LABELS.NAME_REQUIRED' | translate}}
        </span>
        <span class="required-field"
        *ngIf="!namePattern">
        {{'LABELS.NAME_VALIDATION' | translate}}
      </span>
      </ng-container>
      <ion-item>
        <ion-label position="floating" > {{'LABELS.EMAIL' |translate}}
          <span class="required-field"> * </span>
        </ion-label>
      <ion-input type="text" [(ngModel)]="data.email" name="email" (ionChange)="validate(data.email,'email')">
      </ion-input>
      </ion-item>  
      <ng-container>
        <span class="required-field"
          *ngIf="!data.name">
          {{'LABELS.EMAIL_REQUIRED' | translate}}
        </span>
        <span class="required-field"
        *ngIf="!emailPattern">
        {{'LABELS.EMAIL_VALIDATION' | translate}}
      </span>
      </ng-container>
      <ion-item>
        <ion-label position="floating" > {{'LABELS.MOBILE_NUMBER' |translate}}
          <span class="required-field"> * </span>
        </ion-label>
      <ion-input type="text" [(ngModel)]="data.mobile_number" (ionChange)="validate(data.mobile_number,'mobile')"  name="number">
      </ion-input>
      </ion-item> 
      <ng-container>
        <span class="required-field"
          *ngIf="!data.name">
          {{'LABELS.MOBILE_NUMBER_REQUIRED' | translate}}
        </span>
        <span class="required-field"
        *ngIf="!mobilePattern">
        {{'LABELS.MOBILE_NUMBER_VALIDATION' | translate}}
      </span>
      </ng-container>
      <ion-item>
        <ion-label position="floating" > {{'LABELS.LANGUAGE' |translate}}
        </ion-label>
        <ion-select
          [(ngModel)]="data.language"
          [interfaceOptions]="{ cssClass: 'select-box', animated: false }">
          <ion-select-option [value]="language.label" *ngFor="let language of languages">{{language.label}}</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="floating" > {{'LABELS.HEIGHT' |translate}}
        </ion-label>
        <ion-select
          [(ngModel)]="data.height"
          [interfaceOptions]="{ cssClass: 'select-box', animated: false }">
          <ion-select-option [value]="height.label" *ngFor="let height of heights">{{height.label}}</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="floating" > {{'LABELS.COLOR' |translate}}
        </ion-label>
        <ion-select
          [(ngModel)]="data.color"
          [interfaceOptions]="{ cssClass: 'select-box', animated: false }">
          <ion-select-option [value]="color.label" *ngFor="let color of colors">{{color.label}}</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="floating" > {{'LABELS.STATE' |translate}}
        </ion-label>
      <ion-select (ionChange)="getCity()"
      [(ngModel)]="data.state"
      [interfaceOptions]="{
        cssClass: 'select-box',
        animated: false
      }" >
      <ion-select-option [value]="state.label" *ngFor="let state of states">{{state.label}}</ion-select-option>
      </ion-select>
      </ion-item> 
      <ion-item >
        <ion-label position="floating" > {{'LABELS.CITY' |translate}}
        </ion-label>
      <ion-select [(ngModel)]="data.city"  [interfaceOptions]="{
        cssClass: 'select-box',
        animated: false
      }">
      <ion-select-option [value]="city.city" *ngFor="let city of cities">{{city.city}}</ion-select-option>
      </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          {{"LABELS.SPECIALIST_IN" | translate}}
          </ion-label>
          <ion-textarea [(ngModel)]="data.specialist_in">
            </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            {{"LABELS.SERIALS_WORKED_ON" | translate}}
            </ion-label>
            <ion-textarea [(ngModel)]="data.serials_worked_on">
              </ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              {{"LABELS.MOVIES_WORKED_ON" | translate}}
              </ion-label>
              <ion-textarea [(ngModel)]="data.movies_worked_on">
                </ion-textarea>
            </ion-item>
    </div>
