<div class="attachments-card" *ngIf="data?.length">
    <ion-row>
      <ion-col size="6" class="img-wrapper" *ngFor="let image of data; let i=index;">
        <ion-card>
          <ion-card-content>
            <div>
              <!-- <ion-icon class="close-icon" name="close-circle" (click)="delete(image,i)"></ion-icon> -->
            </div>
            <!-- <img src="{{'data:image/jpg;base64,' + image?.value}}" *ngIf="image?.isLocal" (click)="open()" /> -->
            <img src="{{image?.url}}" (click)="viewDocument(image)"/>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>