<ion-content class="ion-padding">
  <div>
    <div style="text-align: center; margin-top: 15px;">
      <img src="../../assets/images/icon.png" style="width:60%">
    </div>
    <form [formGroup]="loginForm" novalidate>
      <h5>{{"LABELS.LOGIN_TO_ACCOUNT" | translate}} </h5>
      <div class="form-fields" *ngFor="let field of fields">
        <ion-item class="input-boxes">
          <ion-label position="floating" >{{field.label | translate}}
            <span *ngIf="field.required" class="required-field"> * </span>
          </ion-label>
          <ion-icon name="{{icon.name}}" slot="{{icon.slot}}" *ngFor="let icon of field.icons"
            [ngClass]="{'start-slot':icon.slot=='start', 'patternMatch' : icon.slot == 'end' && field.patternMatch}">
          </ion-icon>
          <ion-input type="{{field.type}}" [formControlName]="field.name" pattern={{field.regex}}
            (ionChange)="checkPattern(field)" value={{field.value}}> </ion-input>
        </ion-item>
        <ng-container>
          <span class="required-field"
            *ngIf="(field?.required && loginForm.controls[field.name].touched  && loginForm.controls[field.name].errors?.required) ||(field.required && submitAttempt && !field.value) ">
            {{field?.requiredError | translate}}
          </span>
          <span *ngIf="field.value && field.pattern && !field.patternMatch" class="required-field">
            {{field?.patternError | translate}}
          </span>
        </ng-container>
      </div>
      <ion-button (click)="login()" expand="block" class="btn-height">
        {{"LABELS.LOGIN" | translate}}
        </ion-button>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-text-center" (click)="goToSignup()">
  <div  class="footer-txt"> {{"LABELS.DONT_HAVE_ACCOUNT" | translate}} <span class="link-color" routerLink="/signup">{{"LABELS.SIGNUP_HERE" | translate}} </span></div>
</ion-footer>